//
// _init.scss defines html, body, headlines(h1-h4)
// and a elements style.
//

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 16px;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-kerning: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Yu Gothic', YuGothic, 'Helvetica Neue',　Helvetica, Roboto, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #333;
  background-color: #fefefe;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  color: #019be8;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  margin: 0;
}
