//
// _pagenation.scss
// style for pagenation
//

.pager {
  text-align: center;
  margin: 2em 0;

  &__item {
    display: inline-block;
  }

  &__link {
    border: 1px solid #ddd;
    padding: .5em .8em;
  }

  .active > &__link {
    background-color: #aaa;
  }
}
