//
// _variables.scss
// All variables for the site style
//

//
// Color Collection
// Variables of color for the site
//
$_body-color: #fefefe !default;

// Fonts
$_base-font-color: #333 !default;
$_primary-font-color: #019be8 !default;
$_secondly-font-color: #019be8 !default;
$_tertiary-font-colors: #019be8 !default;

// Border
$_base-border-color: #ddd !default;

//
// Font Collection
//
